<div class="container__big-card">
  <div class="big-card-photo">
    <img src="https://mundoconectado.com.br/uploads/chamadas/hbo-max-banner-divulgacao.jpg" alt="">
  </div>

  <div class="big-card-title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card-description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, quae nostrum odit cupiditate sequi impedit minima tenetur repellat consequuntur placeat necessitatibus cum rerum facilis eum sunt veritatis modi asperiores  consectetur!
      </a>
    </p>
  </div>
</div>
